.chat-window {
    height: 700px;
    background-color: #eee;
    overflow: auto;
}

#parent {
    position: relative;
}

#child {
    position: absolute;
    bottom: 0;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}