.chat-window {
    height: 700px;
    background-color: #eee;
    overflow: auto;
}

#parent {
    position: relative;
}

#child {
    position: absolute;
    bottom: 0;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

.back-grad {
    background: rgb(56, 154, 84);
    background: linear-gradient(0deg, rgba(56, 154, 84, 1) 0%, rgba(60, 171, 117, 1) 41%, rgba(38, 175, 131, 1) 100%);
}

.docus-border-dis:focus {
    outline: 0;
}