<div *ngIf="user" class="container shadow-sm">
    <div class="d-flex flex-column align-items-center">
        <span>
            <img src="{{user.Picture}}" style="width: 200px; height: 200px;" class="rounded-circle" id="result"
                alt="...">
            <div class="rounded-circle active-status" *ngIf="isActive()"></div>
        </span>
        <h3>{{user.FirstName}} {{user.LastName}}</h3>
        <h4 class="text-muted">{{user.Nickname}}</h4>
        <p class="lead" *ngIf="!isActive()">Last Seen: {{user.ActiveDateTime | date:'medium'}}</p>
        <p class="lead">Register Date: {{user.DateCreated | date}}</p>
        <button *ngIf="canEdit()" (click)="edit()" class="btn btn-primary">Edit</button>
    </div>
</div>