<div *ngIf="user" class="container">
    <div class="container">
        <img src="{{user.Picture}}" style="width: 200px; height: 200px;" class="rounded-circle float-left" id="result" alt="...">
        <h1 class="display-1">{{user.Nickname}}</h1>
        <p class="lead">Last Seen: {{user.ActiveDateTime | date}}</p>
        <h1>{{user.FirstName}} {{user.LastName}}</h1>
        <p class="lead">Register Date: {{user.DateCreated | date}}</p>
    </div>
    <button *ngIf="canEdit()"  routerLink="/profile/edit" class="btn btn-primary">Edit</button>
    <!-- <input type="file" accept="image/*" id="imageCapturer" (change)="useImage($event)"> -->
</div>