.active-status {
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    position: relative;
    left: 160px;
    bottom: 40px;
}

.back-grad {
    background: rgb(56, 140, 80);
    background: linear-gradient(0deg, rgba(56, 140, 80, 1) 0%, rgba(60, 171, 117, 1) 56%, rgba(65, 208, 163, 1) 100%);
}