<div *ngIf="user" class="container shadow-sm" style="height: 100vh">
    <div class="d-flex flex-column align-items-center py-5">
        <button (click)="goBack()" class="border-0 mx-3 rounded-circle align-self-end">X</button>
        <span class="mt-3">
            <img src="{{user.Picture}}" style="width: 200px; height: 200px;" class="rounded-circle" id="result"
                alt="...">
            <div class="rounded-circle active-status" *ngIf="isActive()"></div>
        </span>
        <h3>{{user.FirstName}} {{user.LastName}}</h3>
        <h4 class="text-muted">{{user.Nickname}}</h4>
        <p class="lead" *ngIf="!isActive()">Last Seen: {{user.ActiveDateTime | date:'medium'}}</p>
        <p class="lead">Register Date: {{user.DateCreated | date}}</p>

        <button *ngIf="canEdit()" (click)="edit()" class="btn btn-primary back-grad border-0">Edit</button>
    </div>
</div>