<div id="container">
  <h4>Messages</h4>

  <input #messageSearchBox (keyup)="updateSearch($event.target.value)" />
  <div class="overflow-auto" style="height: 800px;" id="chat">
    <div class="list-group">
      <h2>Personal Messages</h2>
      <a class="list-group-item list-group-item-action" *ngFor="let message of searchStore.PersonalMessages">
        <div>
          <img src="{{message.Chat.Picture}}" style="width: 30px; height: 30px;" class="rounded-circle">
          <h5>{{message.Chat.Nickname}}</h5>
          <p>{{message.Text}}</p>
        </div>
      </a>
      <h2>Chat Messages</h2>
      <a class="list-group-item list-group-item-action" *ngFor="let message of searchStore.ChatMessages">
        <div (click)="getChat(message)">
          <img src="{{message.Chat.Picture}}" style="width: 30px; height: 30px;" class="rounded-circle">
          <h5>{{message.Chat.Name}}</h5>
          <p>{{message.Text}}</p>
        </div>
      </a>
    </div>
  </div>
</div>