.overflow-auto::-webkit-scrollbar {
    display: none;
}

.colour-change:hover {
    background-color: #219269;
    cursor: pointer;
}

.colour-change:active {
    background-color: #219269;
}

input[type=search] {
	background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
}
input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}